* {
	margin: 0;
	padding: 0;
}
body {
	background: black;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}
/*section {
	height: 100vh;
	border: 2px solid red;*/

#logo{
position:relative;
}
#logo img {
	/*width: 100vw;
    height: 100vh;*/
    text-align: center;
    width:100%;
    height:100%;
        
}
#menu{
    background: url(font1.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
    height:50em;
    width:100%; 
  }
#log {
	width: 400px;
	border: 2px solid green;
}

#log img
{
	width: 200px;
	border: 2px solid red;
}
.contenedor-menu {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: center;
	border: 2px solid pink;
	margin-top: 5em;
}
.item
{
	justify-content: center;
	display: -webkit-flex;
	display: flex;
	border: 2px solid violet;
	width: 500px;
	height: 50px;
	position: relative;
	margin-bottom: 3em;
    		
}
.item a
{
text-decoration:none; 
color:white;    
}
.link{
	text-align: center;
	margin-left:-30px;
	border: 2px solid green;
	width: 150px;
	height: 50px;
	position: absolute;
	right: 0;
	margin-left: 20px;
}
#menu p {
	font-size: 30px;
    text-decoration: none;
    }
#menu div img {
	width: 30%;
	margin: 0;
	padding: 0;
}
.qss{
text-decoration: none;
}

#qs {
	background: url(font1.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: center;
}
.texto-qs{
	border: 2px solid blue;
	margin-bottom: 10px;
    position: relative;
}
.titulo-mision
    {
    border:2px solid turquoise;
    position: absolute;
    margin-bottom:2em;    
    
    }
#qs p{
	width:70%;
    height:60%;
	margin: 0 auto;
    margin-top:1em;
	display:block;
	border: 2px solid tomato;
		
}
.mision
{
	border: 2px solid yellow;
	background: url(fondomision3.png);
	background-size: 100% 100%;
	background-repeat:no-repeat;
	height: 50%;
    
}
.mision p
{
 width:

}
.vision{
	background: url(fondovision2.png);
	background-size: 100% 100%;
	background-repeat:no-repeat;
	border: 2px solid green;
	height: 50%;
}
.titulo-vision
{
	border: 2px solid red;
	text-align:left;
	margin-left: 70px;
	}
	

#qs img {
	width: 100%;
}
#qs h1 {
	font-size: 30px;
}
#qs h3 {
	font-size: 30px;
	position: absolute;
	left: 5em;
}
#mportafolio {
	background-image: url(font1.png);
	background-repeat: no-repeat;
    background-size:100%; 
	text-align:center;
}
#mportafolio h1 {
	text-align: center;
	margin-top: 10px;
}
#mportafolio .p1 {
	background: #8ab870;
	border-radius: 20px;
	box-shadow: 2px 8px 2px #386a43;
	text-align: center;
	width: 60%;
	margin-left: 5em;
	margin-top: 2em;
}
#mportafolio .p2 {
	background: #8b8abf;
	border-radius: 20px;
	box-shadow: 2px 8px 2px #52517c;
	text-align: center;
	width: 70%;
	margin-left: 3em;
	margin-top: 1em;
}
#mportafolio .p3 {
	background: #8ab870;
	border-radius: 20px;
	box-shadow: 2px 8px 2px #386a43;
	text-align: center;
	width: 70%;
	margin-left: 5em;
	margin-top: 1em;
}
#mportafolio .p4 {
	background: #8b8abf;
	border-radius: 20px;
	box-shadow: 2px 8px 2px #52517c;
	text-align: center;
	width: 70%;
	margin-left: 3em;
	margin-top: 1em;
}
#mportafolio .p5 {
	background: #8ab870;
	border-radius: 20px;
	box-shadow: 2px 8px 2px #386a43;
	text-align: center;
	width: 70%;
	margin-left: 5em;
	margin-top: 1em;
}
#mportafolio .p6 {
	background: #8b8abf;
	border-radius: 20px;
	box-shadow: 2px 8px 2px #52517c;
	text-align: center;
	width: 70%;
	margin-left: 3em;
	margin-top: 1em;
}

#noticias
{
background: url(font1.png);
background-repeat: no-repeat;
background-size:100%;    
height:20em;
display: inline-block;
text-align: center;    
}

#noticias h1
{
margin-top:2em;     
text-align:center;
margin-bottom:2em;    
}
#noticias img
{
width:80px; ;
}
#contacto h1
{
text-align: center;
}

#contacto
{
background: url(font1.png);
background-size:100%;    
background-repeat: no-repeat;     
height:20em;    
text-align:left;
padding:2em;
position: relative;    
}
.datos p
{
text-decoration:none;    
display: block;
padding:1em;    
}
.box  
{   background: #8b8abf;
	border-radius: 20px;
	box-shadow: 2px 8px 2px #52517c;
    height:1em; 
	text-align: center;
	width: 70%;
	margin-left: 3em;
}
.boton
{
    background:#AD6CA6;
	border-radius: 20px;
	box-shadow: 2px 8px 2px #6d3c68;
    height:2em; 
    margin-top:2em; 
	text-align: center;
	width: 70%;
	margin-left: 3em;
    position:absolute;
    left:0;
}
@media only screen and (max-width: 480px) {
    #menu
    {
    }
    .mision{
    width:100%;
    height:50%;    
    }
	#mportafolio
    {
    height:35em;     
    }
	#mportafolio .p1
	{
    width: 40%;
	}
	
	#mportafolio .p5
	{
		width: 55%;
	}
