*{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
body{
	background: black;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
}
a, p, figure{
    font-family: 'Josefin Sans', sans-serif;
}
#logo img {
    text-align: center;
    width:100%;      
}
#menu{
    background: url(font1.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
    width: 86%; 
    border: 2px solid white;
    margin: 1em 100px 1em 1em;
    padding: 1em;
}
#log{
    text-align: center;
}
#log img{
    text-align: center;
    padding: 1em;
    border: 2px solid white;  
}
.item{
    position: relative;
    height: 5em;
    padding: 0.3em;
    margin: 0.5em;
}
.item p{
    position: absolute;
    left: -2em;
    margin: 0.8em 0 0 0;
    font-size: 2em;
    text-align: center;
    width: 100%;
}
.item a{
    text-decoration: none;
    color: white;
}
.item img{
    position: absolute;
    right: 2em;
}
#qs{
	background: url(font1.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: center;
    padding: 1em;
}
.texto-qs{
	border: 2px solid white;
    margin: 0.8em 0 0.8em 0;
    padding: 0.5em;
}
.titulo-mision, .titulo-vision{
    border:2px solid white;
    text-align: left;
    margin: 0.4em;
    padding: 0.3em 2em;
    }
#qs p{
	width:70%;
    margin: 0 auto;
    border: 2px solid white;
}
.mision, .vision{
	border: 2px solid white;
	background: url(fondomision3.png);
	background-size: 100% 100%;
	background-repeat:no-repeat;
    padding: 1em;
}
#mportafolio{
	background-image: url(font1.png);
	background-repeat: no-repeat;
    background-size: 100% 100%; 
	text-align:center;
    padding: 1em;
    margin: 1em;
    border: 2px solid white;
}
#mportafolio h1 {
	text-align: center;
    padding: 1em;
    margin: 1em;
    border: 2px solid white;
}
.barras{
    margin: 1em;
    padding: 1em;
    border: 2px solid white;
    text-align: center;
}
#mportafolio .p1 {
	background: #8ab870;
	border-radius: 20px;
	box-shadow: 2px 8px 2px #386a43;
	text-align: center;
	width: 60%;
	margin-left: 4em;
    padding: 1em;
}
#mportafolio .p2 {
	background: #8b8abf;
	border-radius: 20px;
	box-shadow: 2px 8px 2px #52517c;
	text-align: center;
	width: 70%;
	margin-left: 1em;
	padding: 1em;
    margin-top: 1em;
}
#mportafolio .p3 {
	background: #8ab870;
	border-radius: 20px;
	box-shadow: 2px 8px 2px #386a43;
	text-align: center;
	width: 70%;
	margin-left: 4em;
	padding: 1em;
    margin-top: 1em;
}
#mportafolio .p4 {
	background: #8b8abf;
	border-radius: 20px;
	box-shadow: 2px 8px 2px #52517c;
	text-align: center;
	width: 70%;
	margin-left: 1em;
	padding: 1em;
    margin-top: 1em;
}
#mportafolio .p5 {
	background: #8ab870;
	border-radius: 20px;
	box-shadow: 2px 8px 2px #386a43;
	text-align: center;
	width: 70%;
	margin-left: 4em;
	padding: 1em;
    margin-top: 1em;
}
#mportafolio .p6 {
	background: #8b8abf;
	border-radius: 20px;
	box-shadow: 2px 8px 2px #52517c;
	text-align: center;
	width: 70%;
	margin-left: 1em;
	padding: 1em;
    margin-top: 1em;
}

#noticias{
    background: url(font1.png);
    background-repeat: no-repeat;
    background-size:100%;    
    text-align: center;
    margin: 1em;
    padding: 1em;
    border: 2px solid white;
    
}
#noticias h1{    
    text-align:center;
    margin: 1em;
    padding: 1em;
    border: 2px solid white;
}
#noticias .social{
    border: 2px solid white;
    margin: 1em;
    padding: 1em;
}
#noticias img{
    margin: 0 1em;
}
#contacto h1
{
text-align: center;
}

#contacto{
    background: url(font1.png);
    background-size:100%;    
    background-repeat: no-repeat;         
    text-align:left;
    padding: 1em;
    margin: 1em;
    position: relative;
    border: 2px solid white;
}
.datos p{
    text-decoration:none;    
    display: block;
    padding:1em;    
}
.box{   
    background: #8b8abf;
	border-radius: 20px;
	box-shadow: 2px 8px 2px #52517c;
    height: 1em; 
    padding: 1em;
	text-align: center;
	width: 70%;
    margin: 0 3em;
}
.boton{
    background:#AD6CA6;
	border-radius: 20px;
	box-shadow: 2px 8px 2px #6d3c68; 
	text-align: center;
	width: 80%;
	margin: 2em 0 1em 2em ;
    padding: 1em;
    left:0;
}
/*
@media only screen and (max-width: 480px) {
    #menu
    {
    }
    .mision{
    width:100%;
    height:50%;    
    }
	#mportafolio
    {
    height:35em;     
    }
	#mportafolio .p1
	{
    width: 40%;
	}
	
	#mportafolio .p5
	{
		width: 55%;
	}
*/